# Environment
SERVICE_NAME=crm-handaiS-backend
ENV=dev
HOST=0.0.0.0
PORT=3000
BASE_PATH=/api
PUBLISH_URL=
SHUTDOWN_TIMEOUT=5s
CORS_ALLOWED_ORIGINS=

# Database
DATABASE_URI=postgresql://username:password@host:port/dbname?sslmode=disable
DATABASE_TIMEOUT=60
DATABASE_MAX_OPEN_CONNS=30
DATABASE_MAX_IDLE_CONNS=10
DATABASE_CONN_MAX_LIFETIME=3600s

# JWT
JWT_SECRET_KEY=your_jwt_secret_key
JWT_SIGN_ALGORITHM=
JWT_ISSUER= 
JWT_EXPIRATION=24h
JWT_VERSION=1

# Logger
LOG_LEVEL=debug
LOG_FORMAT=console
LOG_ACCESS_LOG=true
LOG_HEADERS=false
LOG_BODY=false
LOG_QUERY_PARAMS=false

# Timezone
TIMEZONE=Asia/Jakarta

# Encryption
AES_ENCRYPTION_KEY=

# Other
DEFAULT_USER_PASSWORD_HASH=